# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ddetxmhghairsapcqmto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_tx0YLrjhXskl5A0zQc-V8g_22hcK--u
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key-here

# PostgreSQL Direct Connection String (for migrations / direct DB access)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.ddetxmhghairsapcqmto.supabase.co:5432/postgres

# PayFast Configuration
NEXT_PUBLIC_PAYFAST_MERCHANT_ID=17675995
NEXT_PUBLIC_PAYFAST_HOST=https://payment.payfast.io/eng/process
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Communications & Email (Resend)
RESEND_API_KEY=your_resend_api_key_here
